// $color: #00cc99;

// .header {
//   height: 200px;
//   background-color: #00cc99;
// }

// .footer {
//   height: 200px;
//   background-color: #00cc99;
// }

// .box {
//   width: 100px;
//   height: 100px;
//   background-color: red;
//   display: flex;
//   transition: all 0.5s;
//   &:hover {
//     width: 200px;
//     background-color: $color;
//   }
// }
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css */

header {
  justify-content: space-between;
  align-items: center;
  height: 108px;
}

.menu {
  align-items: center;
  padding-right: 88px;
}

.menuStyle {
  line-height: 30px;
  font-style: 20px;
}

.logo {
  display: block;
  width: 80px;
  height: 49px;
  padding-left: 88px;
  
}
.banner {
//  max-width:1920px;
 height: 840px;
 background: url('https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png');
	background-size: cover;
  align-items: center;
}

.container {
  flex-direction: column;
  align-items: flex-end;
 
}

.noLine {
  text-decoration: none;  
}

.fontHans {
  font-family:'思源黑體 TW', Regular;
}

.roboto {
 font-family: 'Roboto', Regular;  
}
 
.mga {
  margin: 0 auto;
  width: 1110px;
}

.verticalAlign {
  vertical-align: middle;
}
.ml64 {
  margin-left: 64px;
}

.mr48 {
  margin-right: 48px;
}

.ml32 {
  margin-left: 32px;
}
.pr48 {
  padding-right: 48px;
}

.pt32 {
  padding-top: 32px;
}

.pt36 {
  padding-top: 36px;
}

.pt44 {
  padding-top: 44px;
}

.pt16 {
  padding-top: 16px;
}

.pb24 {
  padding-bottom: 24px;
} 

.pb39 {
  padding-bottom: 39px;
}

.borderBottom {
  border-bottom: 1px solid #FFFFFF;
}

h1 {
  font-size:64px;
  color:#650300;
  font-family: '思源黑體 TW', Bold;
}

h2 {
  font-size:36px; 
  color:#650300;
}

.white {
  color: white;
}
.bgRed {
  background-color: #AA0601;
}

.flex {
  display: flex;
}

.infoLink{
  justify-content: space-between;
  align-items: center;
}

.menuBottom li, footNote p{
  font-size: 16px;
  line-height: 24px;
  
}

.socialMedia a {
  width: 48px;
  height: 48px;
}

.tel {
  width: 36px;
  height: 36px;
}

.mail {
  width: 40px;
  height: 32px;
}

.contact span {
  font-size: 36px;
  line-height: 54px;

}

.footNote {
  justify-content: space-between;
}

.legal li{
  font-size: 14px;
  line-height: 21px;
}